@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --theme-color: #92cbdf;
}

.bgimage {
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-position: center;
  }
  .slick-slide {
    margin: 0 10px;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: black;
  }
  
  .slick-dots li button:before {
    color: black;
  }
  @layer base{
    body{
      @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
}

 }